/* ===================================
   GLOBAL BUTTON
=================================== */

button{

border:none;

cursor:pointer;

font-family:inherit;

transition:.25s;

}

/* ===================================
   LOGOUT
=================================== */

.logout-btn{

background:#ef4444;

color:white;

padding:12px 24px;

border-radius:12px;

font-size:15px;

font-weight:600;

}

.logout-btn:hover{

background:#dc2626;

transform:translateY(-2px);

}

/* ===================================
   UPLOAD
=================================== */

#uploadBtn{

width:100%;

height:52px;

background:#2563eb;

color:white;

font-size:16px;

font-weight:600;

border-radius:14px;

}

#uploadBtn:hover{

background:#1d4ed8;

transform:translateY(-2px);

}

/* ===================================
   DOCUMENT BUTTONS
=================================== */

.document-actions{

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

margin-top:15px;

}

.preview-btn{

grid-column:1/3;

}

.preview-btn,
.download-btn,
.delete-btn{

display:flex;

align-items:center;

justify-content:center;

height:46px;

border-radius:12px;

text-decoration:none;

font-size:15px;

font-weight:600;

transition:.25s;

}

.preview-btn{

background:#2563eb;

color:white;

}

.download-btn{

background:#22c55e;

color:white;

}

.delete-btn{

background:#ef4444;

color:white;

}

.preview-btn:hover{

background:#1d4ed8;

transform:translateY(-2px);

}

.download-btn:hover{

background:#16a34a;

transform:translateY(-2px);

}

.delete-btn:hover{

background:#dc2626;

transform:translateY(-2px);

}